.data-table{
  width: 70%;
  margin: 30px auto;
}
table {
    width: 100%;
    
  }
  .data-heading{
    width: 70%;
    margin: 30px auto;
    border: 3px solid rgba(45, 45, 196, 0.7);
    box-shadow: 5px 5px 3px rgba(45, 45, 196, 0.5);
  }
  .data-heading h1{
    color:#3f51b5;
    font-weight: 650;
    font-family: Inter var,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .data-table th{
    font-size: 16px;
    font-weight: 500;
    color:black;
  }

  .up-button{
    text-align: right; 
    margin-top: -37px;
  }

